/*----------------------------------------*/
/*  2.9 Header CSS
/*----------------------------------------*/

.ed-topbar {
  padding: 16px 10px;
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__search-widget {
    display: flex;
    align-items: center;
  }
  &__category {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 19px;
      background: #b8b8b8;
      z-index: 2;
      right: -12px;
      top: 50%;
      transform: translate(0px, -50%);
    }
    & .nice-select {
      width: 190px;
      height: 50px;
      line-height: 50px;
      border: 1px solid #ebebeb !important;
      border-right: none !important;
      margin: 0;
      padding-left: 30px;
      padding-right: 40px;
      border-radius: 52px 0px 0px 52px;
    }
  }
  &__search {
    position: relative;
    width: 570px;
    & input {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      width: 100%;
      height: 50px;
      border: 1px solid #ebebeb;
      padding: 12px 140px 14px 40px;
      border-radius: 0px 52px 52px 0px;
      border-left: 0 !important;
    }
    & button {
      position: absolute;
      top: 5px;
      right: 7px;
      height: 40px;
      background: red;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 52px;
      color: #ffffff;
      letter-spacing: -0.14px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 38px;
    &-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
      & button {
        padding: 12px 23px;
        font-size: 14px;
        border-radius: 52px;
        font-weight: 500;
        color: #263238;
        letter-spacing: -0.14px;
        transition: all 0.4s ease;
        position: relative;
        z-index: 2;
      }
      & .register-btn {
        background: red;
      }
      & .login-btn {
        background: green;
      }
    }
  }
  &__info-social {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}


.ed-topbar__category .nice-select .list {
    width: 200px;
    box-shadow: 0px 4.4px 20px -1px rgba(19,16,34,0.05);
    border-radius: 8px;
    border: transparent;
    margin-top: 2px;
    max-height: 320px;
    z-index: 999;
}