@use "../utils" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--tp-font-body);
  font-size: 17px;
  font-weight: normal;
  color: var(--tp-body-color);
  line-height: 28px;
}

a {
  text-decoration: none;
}
