@use "../utils" as *;

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  // background-color: $primary-color;
  // color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  // font-family: $font-body;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    // background-color: darken($primary-color, 10%);
  }
}
